[Desktop Entry]
Exec=/usr/lib64/libexec/plasma-dbus-run-session-if-needed /usr/lib64/libexec/startplasma-dev.sh -wayland
DesktopNames=KDE
Name=Plasma (Development, Wayland /usr/bin)
Name[ar]=بلازما (تطوير, ويلاند /usr/bin)
Name[az]=Plasma (Tərtib mərhələsində olan Wayland /usr/bin)
Name[be]=Plasma (Development, Wayland /usr/bin)
Name[bg]=Plasma (Development, Wayland /usr/bin)
Name[ca]=Plasma (Desenvolupament, Wayland /usr/bin)
Name[ca@valencia]=Plasma (Desenvolupament, Wayland /usr/bin)
Name[da]=Plasma (udvikling, Wayland /usr/bin)
Name[de]=Plasma (Development, Wayland /usr/bin)
Name[en_GB]=Plasma (Development, Wayland /usr/bin)
Name[es]=Plasma (Desarrollo, Wayland /usr/bin)
Name[et]=Plasma (arendus, Wayland /usr/bin)
Name[eu]=Plasma (Garapena, Wayland /usr/bin)
Name[fi]=Plasma (kehitys, Wayland /usr/bin)
Name[fr]=Plasma (Développement, Wayland /usr/bin)
Name[gl]=Plasma (desenvolvemento, Wayland /usr/bin)
Name[hi]=प्लाज़्मा (विकास, वैलेंड /usr/bin)
Name[hu]=Plasma (Fejlesztői verzió, Wayland /usr/bin)
Name[ia]=Plasma (Disveloppamento, Wayland /usr/bin)
Name[id]=Plasma (Development, Wayland /usr/bin)
Name[is]=Plasma (Þróunarútgáfa, Wayland /usr/bin)
Name[it]=Plasma (Sviluppo, Wayland /usr/bin)
Name[ja]=Plasma (Development, Wayland /usr/bin)
Name[ka]=Plasma (Development, Wayland /usr/bin)
Name[ko]=Plasma(개발, Wayland /usr/bin)
Name[lt]=Plasma (Plėtojimas, Wayland /usr/bin)
Name[ml]=പ്ലാസ്മ (വികസനം, വേലാൻഡ് /usr/bin)
Name[nl]=Plasma (Ontwikkeling, Wayland /usr/bin)
Name[nn]=Plasma (utvikling, Wayland /usr/bin)
Name[pa]=ਪਲਾਜ਼ਮਾ (ਡਿਵੈਲਪਮੈਂਟ, ਵੇਅਲੈਂਡ /usr/bin)
Name[pl]=Plazma (Rozwój , Wayland /usr/bin)
Name[pt]=Plasma (Desenvolvimento, Wayland /usr/bin)
Name[pt_BR]=Plasma (Desenvolvimento, Wayland /usr/bin)
Name[ro]=Plasma (Dezvoltare, Wayland /usr/bin)
Name[ru]=Plasma (разрабатываемая версия, Wayland /usr/bin)
Name[sk]=Plasma (Development, Wayland /usr/bin)
Name[sl]=Plasma (Razvoj, Wayland /usr/bin)
Name[sv]=Plasma (utveckling, Wayland /usr/bin)
Name[ta]=பிளாஸ்மா (Development, Wayland /usr/bin)
Name[tr]=Plasma (Geliştirme, Wayland $ {CMAKE_INSTALL_FULL_BINDIR})
Name[uk]=Плазма (Розробка, Wayland /usr/bin)
Name[vi]=Plasma (Phát triển, Wayland /usr/bin)
Name[x-test]=xxPlasma (Development, Wayland /usr/bin)xx
Name[zh_CN]=Plasma (Development, Wayland /usr/bin)
Name[zh_TW]=Plasma (開發版本，Wayland /usr/bin)
Comment=Plasma by KDE
Comment[ar]=بلازما كدي
Comment[az]=KDE Plasma
Comment[be]=Plasma KDE
Comment[bg]=Plasma от KDE
Comment[bs]=Plazma od strane KDe
Comment[ca]=Plasma, creat per la comunitat KDE
Comment[ca@valencia]=Plasma, creat per la comunitat KDE
Comment[cs]=Plasma z KDE
Comment[da]=Plasma fra KDE
Comment[de]=Plasma von KDE
Comment[el]=Plasma από το KDE
Comment[en_GB]=Plasma by KDE
Comment[es]=Plasma, por KDE
Comment[et]=KDE Plasma
Comment[eu]=KDEren Plasma
Comment[fi]=Plasma KDE:ltä
Comment[fr]=Plasma, par KDE
Comment[gl]=Plasma, fornecido por KDE.
Comment[he]=פלזמה באמצעות KDE
Comment[hi]=केडीइ द्वारा प्लाज़्मा
Comment[hsb]=Plasma wot KDE
Comment[hu]=Plasma a KDE-től
Comment[ia]=Plasma per KDE
Comment[id]=Plasma oleh KDE
Comment[is]=Plasma frá KDE
Comment[it]=Plasma di KDE
Comment[ja]=Plasma by KDE
Comment[ka]=Plasma, KDE-სგან
Comment[ko]=KDE Plasma
Comment[lt]=Plasma pagal KDE
Comment[ml]=കെഡിഇയുടെ പ്ലാസ്മ
Comment[nb]=Plasma av KDE
Comment[nds]=Plasma vun KDE
Comment[nl]=Plasma door KDE
Comment[nn]=Plasma frå KDE
Comment[pa]=KDE ਵਲੋਂ ਪਲਾਜ਼ਮਾ
Comment[pl]=Plazma dzięki KDE
Comment[pt]=Plasma do KDE
Comment[pt_BR]=Plasma do KDE
Comment[ro]=Plasma, de către KDE
Comment[ru]=KDE Plasma
Comment[sk]=Plasma od KDE
Comment[sl]=KDE Plasma
Comment[sr]=Плазма од КДЕ‑а
Comment[sr@ijekavian]=Плазма од КДЕ‑а
Comment[sr@ijekavianlatin]=Plasma od KDE‑a
Comment[sr@latin]=Plasma od KDE‑a
Comment[sv]=Plasma av KDE
Comment[ta]=கே.டீ.யீ. வழங்கும் பிளாஸ்மா
Comment[tg]=Plasma аз ҷониби KDE
Comment[tr]=KDE Plasma
Comment[uk]=Плазма KDE
Comment[vi]=Plasma, do KDE
Comment[x-test]=xxPlasma by KDExx
Comment[zh_CN]=KDE Plasma
Comment[zh_TW]=Plasma by KDE
X-KDE-PluginInfo-Version=5.27.0
