Nathan Weber <supernathansunshine@gmail.com>
Nikita Mikhailov <nslqqq@gmail.com>
Andrea Scarpino <me@andreascarpino.it> <andrea@archlinux.org>
Isaque Galdino <igaldino@gmail.com> <izup@fake.com>
raffarti <raffarti@zoho.com> <raffarti@localhost.localdomain>
Martin Briza <mbriza@redhat.com> <m@rtinbriza.cz>
David Edmundson <kde@davidedmundson.co.uk> <david@davidedmundson.co.uk>
