[SddmGreeterTheme]
Name=Circles
Description=Circles Theme
Author=Abdurrahman AVCI
Copyright=(c) 2013, Abdurrahman AVCI
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=screenshot.png
Theme-API=1
MainScript=Main.qml
Email=abdurrahmanavci@gmail.com
Theme-Id=circles
