#!/usr/bin/make -f
# -*- makefile -*-


ifeq (/usr/bin/qmake-qt5,$(shell readlink /etc/alternatives/qmake))
	export QT_FLAGS = "-DUSE_QT5=TRUE"
endif

export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- $(QT_FLAGS)
