#!/bin/sh
# Debian sddm package configuration script
# Copyright 2000-2001 Branden Robinson.
# Copyright 2013 Christopher Roy Bratusek <nano@tuxfamily.org>
# Licensed under the GNU General Public License, version 2.  See the file
# /usr/share/common-licenses/GPL or <http://www.gnu.org/copyleft/gpl.txt>.

set -e

# source debconf library
. /usr/share/debconf/confmodule

THIS_PACKAGE=sddm
DEFAULT_DISPLAY_MANAGER_FILE=/etc/X11/default-display-manager

# set default display manager

db_get shared/default-x-display-manager
OLD_DEFAULT="$RET"

db_metaget shared/default-x-display-manager owners
OWNERS="$RET"
db_metaget shared/default-x-display-manager choices
CHOICES="$RET"

if [ "$OWNERS" != "$CHOICES" ]; then
  db_subst shared/default-x-display-manager choices $OWNERS
  db_fset shared/default-x-display-manager seen false
fi

db_input high shared/default-x-display-manager || true
db_go

# using this display manager?
db_get shared/default-x-display-manager
CURRENT_DEFAULT="$RET"
# remove the default display manager file if we're going to change it
if [ "$OLD_DEFAULT" != "$CURRENT_DEFAULT" ]; then
  rm -f $DEFAULT_DISPLAY_MANAGER_FILE
fi

exit 0
