name: Checks

on:
  push:
    branches:
      - master
      - develop
    tags:
      - v*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
# No longer works as of 2020-11-03 due to npm 7.0.3 -> 7.0.7
#  wip:
#    if: "!contains(github.event.head_commit.message, 'ci skip') && github.event_name == 'pull_request'"
#    runs-on: ubuntu-latest
#    steps:
#      - name: Work in progress
#        uses: wip/action@master
  qml:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Validate QML and JavaScript files
        uses: liri-infra/qmllint-action@master
